*{
    box-sizing: border-box;
    margin: 0;
}
header{
    margin:0.25vw 0.5vw ;
    border-width: 2px;
    border-color: #ab01f2;
    border-style: solid;
    width: 98vw;
    height: auto;
    min-height: 15vh;
    background-color: bisque;
    color: brown;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}
nav{
    margin-top: 0;
    margin-right: 0.5vw;
    margin-bottom: 0.25vw;
    margin-left: 0.5vw;
    width: 98vw;
    height: auto;
    min-height: 10vh;
    border: 2px dotted blue;
    background-color: burlywood;
    color: #ffff;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0 0 15px 15px;
}
aside{
    margin-left: 0.5vw;
    width: 15vw;
    height: auto;
    min-height: 65vh;
    border: 2px solid #cdcdcd;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: chocolate;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 15px;
    float: left;
}
main{
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    width: 65vw;
    height: auto;
    min-height: 65vh;
    border: 2px groove #5d478b;
    background-color: #f5ccb0;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    float: left;
}
section{
    margin-right: 0.5vw;
    width: 17vw;
    height: auto;
    min-height: 65vh;
    border: 2px solid #ff1cae;
    border-radius: 0 5px 5px 0;
    background-color: salmon;
    float: right;
}
article{
    width: 98%;
    margin: 1% 0.5% 0.5% 0;
    height: auto;
    min-height: 20vh;
    border-color: white;
    border-width: 1px;
    border-radius: 15px;
    background-color: darkgoldenrod;
    padding: 1px;
    text-align: center;
    color: white;
    font-weight: bold;
}
footer{
    width: 98vw;
    height: auto;
    min-height: 15vh;
    margin: 0.25vw 0.5vw 0vw 0.5vw;
    border: 2px solid darkmagenta;
    background-color: darksalmon;
    font-weight: bold;
    text-align: center;
    float: left;
    border-radius: 0 0 15px 15px;
    color: aliceblue;
}